.app__menu {
  flex-direction: column;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(246,248,251, 1) 0%, rgba(246,248,251, 1) 70%, rgba(0,0,0,0.5) 70%, transparent 71%, transparent 100%);
}

.app__menu__title{
  padding: 1rem;
  position: relative;
  margin-bottom: 2rem;
}

.app__menu__title::after{
  position: absolute;
  bottom : 0;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 40px;
  height: 1px;
  background-color: var(--color-jade);
}

.app__menu__cards {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: stretch;
}

.app__menu__card {
  flex: 1;
  width: 100%;
  min-width: 50px;
  overflow: hidden;
  margin: 0 5px;
  border-radius: 15px;
  position: relative;
  transition: all 500ms;
}

.app__menu__card.active {
  flex-grow: 5;
  margin: 0;
  max-width: 1000px;
}

.app__menu__card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(120%);
}

.card__label {
  font-family: 'Malgun Gothic';
  position: absolute;
  width: 100%;
  min-width: 400px;
  bottom: 0;
  color: var(--color-white);
  opacity: 0;
  padding: 2rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 50%, transparent 100%);
  transition: opacity 500ms;
}

.app__menu__card.active .card__label {
  opacity: 1;
}

.card__label__name{
  font-weight: bold;
}
