.app__menu{
  
}

.app__menu__carousel{
  display: flex;
  background-color: aqua;
  width: 1000px;
  /* padding: 1rem; */
}

.menu__carousel__content{
  flex-direction: column;
  width: 25%;
  padding: 1rem;
}

.menu__carousel__content a{
  width: 100%;
}

.menu__carousel__content img{
  width: 100%;
  padding-bottom: 100%;
  
  background-color: blue;
  border-radius: 50%;
}

.menu__carousel__content p{
  margin-top: 0.5rem;
  width: 100%;
  text-align: center;
}