.app__register {
  flex-direction: column;
  position: relative;
}

.form__list {
  min-width: 30rem;
  margin: 1rem 0;
}

.form__list h3 {
  padding: 0.5rem 0;
  width: 200px;
}

.form__input {
  width: 100%;
  flex-shrink: 0;
}

.form__input input {
  width: 100%;
  border: solid 1px var(--color-grey);
  border-radius: 4px;
  padding: 0.6rem;
}

.form__submitBtn {
  min-width: 100%;
  border: solid 1px var(--color-grey);
  margin: 1rem 0;
  border-radius: 4px;
  padding: 0.7rem;
}

.form__submitBtn:disabled {
  background-color: rgb(206, 206, 206);
  color: var(--color-grey);
  border: solid 2px var(--color-grey);
}

.form__submitBtn:hover:enabled {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.form__list label {
  color: var(--color-dark-pink);
  margin-top: 0.5rem;
}

.valid {
  display: none;
}
.invalid {
  display: block;
}


