@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@400;500;700&display=swap");

:root {
  /* Color */
  --color-white: #fff;
  --color-black: #000;
  --color-light-grey: #f6f8fb;
  --color-grey: #a0a0a0;
  --color-dark-grey: #1e1d29;
  --color-red: #ff0000;
  --color-orange: rgb(255, 226, 212);
  --color-pink: #f28485;
  --color-dark-pink: #e96668;
  --color-dark-brown: #400001;
  --color-brown: #8c4303;
  --color-beige: #d9965b;
  --color-jade: #496b72;

  /* Font family*/
  --font-noto: "Noto Sans KR", sans-serif;
  --font-Roboto: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-noto);
}
